body {
    background-image: url("pizza2.jpg");
    background-size: 100em;
    background-repeat: no-repeat;
    color: azure;
    }

fieldset {  border: 0;
            padding-top: 20px;
            padding-bottom: 20px;
         }

.output {
          display: none;
        }
